body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
		text-align: center;
    justify-content: center;
    padding: 1rem;
    font-family: "Lato", sans-serif;
	  font-weight: 400;
	  font-size: 16px;
	  line-height: 1.6;
    background: linear-gradient(-45deg, #055827, #e73c7e, #88d523, #23d5ab);
	  background-size: 400% 400%;
	  animation: gradient 15s ease infinite;
	  height: 100vh;
}

div {
  background-color: bisque;
  border: 5px black;
  border-radius: 5px;
  padding: 1rem;
  margin-bottom: auto;
  margin-top: 20px;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}